* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.wave-container {
    position: relative;
    text-align: center;
    overflow: hidden;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
footer {
    background-color: rgba(0,29,36,1); 
    height: 7rem;
    bottom: 0;
    position: relative;
    color: white;
    text-align: center;
}
h2 {
    text-transform: uppercase;
    color: rgba(9,109,121,1);
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}