li {
    display: inline-block;
}
nav {
    background-color: black;
    height: 5rem;
    text-align: center;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
footer {
    background-color: black;
    height: 5rem;
    color: white;
    text-align: center;
}
